<!DOCTYPE html>
<html lang="en" >
<head>
<title> display records</title>

  <meta charset="UTF-8">
  <title>Display Records</title>
<link rel="stylesheet" href="{{url_for('static',filename='mystyle.css')}}">
</head>


<body>
 
{% for key, value in data.items() %} 
<div class="table-users">
<table cellspacing="0">
   <div class="header">{{key}}</div>
      <tr>
         <td>Profile Name</th>
         <td>Start Date</th>
         <td>End Date</th>
      </tr>
       {% for x in value: %}
       <tr>
         <td>{{ x["Profile name :"] }}</td>
         <td>{{ x["Start Date:"] }}</td>
         <td>{{ x["End Date:"] }}</td>
      </tr>
      {% endfor %}  
 {% endfor %}  
   </table>
</div>
</body>
</html>
